PORT=3000
LOG_LEVEL=info
GHES_INSTANCES_CONFIG_PATH=config/instances.json

GHES1_APP_ID=100001
GHES1_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nreplace-with-ghes1-private-key\n-----END RSA PRIVATE KEY-----"
GHES1_WEBHOOK_SECRET=replace-with-ghes1-webhook-secret

GHES2_APP_ID=100002
GHES2_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nreplace-with-ghes2-private-key\n-----END RSA PRIVATE KEY-----"
GHES2_WEBHOOK_SECRET=replace-with-ghes2-webhook-secret
